In [1]:
from stoneforge.data_management.preprocessing import DataLoader

In [2]:
# Loading a tab-separated values file with specified standard

tabr = DataLoader(r"https://github.com/giecaruff/datasets/blob/main/wells/tab/evaluation/teste_tsv.tsv", filetype='tabr', sep="\t", std="US")
print(tabr.data_obj)

<stoneforge.io.tabr.TABParser object at 0x0000019DC2564FE0>

In [3]:
#visualizing raw data

tabr.data_obj.data

{'': {'values': array(['', '', '', ..., '</body>', '</html>', ''],
        shape=(1438,), dtype='<U57422'),
  'unit': '',
  'description': ''}}

In [4]:
# Converting data to DataFrame

data_tabr, units_tabr = tabr.dataframe(tabr.data_obj.data)
data_tabr

       PROF    ρB   NPHI      ILD30       ILD     42         �
0      1000  2.65   0.32  10.000,00     10000 -999.0   ARENITO
1     10003  2.66   0.33  10.001,05     10001 -999.0   ARENITO
2     10006  2.67   0.34  10,000.56     10002 -999.0   arenito
3     10009  2.68   0.35       2003     10003 -999.0  folhelho
4     10012  2.69   0.36   -999.000     10004 -999.0        57
5     10015  2.70   0.37   -999.000     10005 -999.0        57
6     10018  2.71   0.38   -999.000     10006 -999.0        57
7     10021  2.72   0.39   -999.000     10007 -999.0        57
8     10024  2.73   0.40   -999.000     10008 -999.0        57
9     10027  2.74   0.41   -999.000     10009 -999.0   slurry]
10     1003  2.75   0.42   -999.000     10010 -999.0    slurry
11    10033  2.76   0.43   -999.000     10011 -999.0    slurry
12    10036  2.77  44.00   -999.000   1001200    NaN    slurry
13    10039  2.78   0.45   -999.000   1001300 -999.0    slurry
14   100420  2.79   0.46   -999.000   1001400 -999.0    slurry
15    10045  2.80   0.47   -999.000   1001500 -999.0    slurry
16    10048  2.81   0.48   -999.000   1001600 -999.0       570
17    10051  2.82   0.49   -999.000   1001700 -999.0        49
18    10060  2.85   0.52   -999.000  10020000 -999.0        49
19    10063  2.86   0.53   -999.000  10021000 -999.0        49
20    10066  2.87   0.54   -999.000  10022000 -999.0        49
21    10072  2.89   0.56   -999.000     10024 -999.0   siltito
22    10075  2.90   0.57   -999.000     10025 -999.0   siltito
23    10078  2.91   0.58   -999.000     10026 -999.0   siltito
24  1008100  2.92   0.59   -999.000     10027 -999.0   siltito
25    10084  2.93   0.60   -999.000     10028 -999.0   siltito