In [1]:
# Loading Library
from stoneforge.data_management.preprocessing import DataLoader

In [ ]:
# Manual Access:

las2 = DataLoader(r"C:\Users\mario\Documents\copegeo\dados\reconcavo\7-MP-56D-BA.las", filetype='las2')
print('header itens:',las2.data_obj.header.keys())
las2.data_obj.header['well']

header itens: dict_keys(['version', 'well', 'curve', 'parameter', 'other'])

   mnemonic unit             value             description
0      STRT    F          100.0000             START DEPTH
1      STOP    F         7938.0000              STOP DEPTH
2      STEP    F            0.5000              STEP VALUE
3      NULL              -999.2500              NULL VALUE
4      COMP                                        COMPANY
5      WELL          DREW POINT #1                    WELL
6       FLD                WILDCAT                   FIELD
7       LOC           26  18N   8W                LOCATION
8      CNTY            NORTH SLOPE                  COUNTY
9      STAT                 ALASKA                   STATE
10     CTRY                    USA                 COUNTRY
11     DATE                1/17/78                LOG DATE
12      API           502792000200  UNIQUE WELL IDENTIFIER
13     OPER                                       OPERATOR
14     SRVC           Schlumberger         SERVICE COMPANY
15      UWI           502792000200          UNIQUE WELL ID
16      LAT                 0.0000                LATITUDE
17      LON                 0.0000               LONGITUDE
18     DIGS       Center Line Data      DIGITIZING COMPANY

In [3]:
# View Raw Data
print(las2.data_obj.data)

{'DEPT': {'values': array([ 100. ,  100.5,  101. , ..., 7945. , 7945.5, 7946. ],
      shape=(15693,)), 'unit': 'F', 'description': '1  DEPTH'}, 'SP': {'values': array([-999., -999., -999., ..., -999., -999., -999.], shape=(15693,)), 'unit': 'MV', 'description': '2'}, 'ILD': {'values': array([-999., -999., -999., ..., -999., -999., -999.], shape=(15693,)), 'unit': 'OHMM', 'description': '3'}, 'ILM': {'values': array([-999., -999., -999., ..., -999., -999., -999.], shape=(15693,)), 'unit': 'OHMM', 'description': '4'}, 'LL8': {'values': array([-999., -999., -999., ..., -999., -999., -999.], shape=(15693,)), 'unit': 'OHMM', 'description': '5'}, 'GR': {'values': array([  25.1383,   24.7342,   24.9611, ..., -999.    , -999.    ,
       -999.    ], shape=(15693,)), 'unit': 'GAPI', 'description': '6'}, 'CALI': {'values': array([-999., -999., -999., ..., -999., -999., -999.], shape=(15693,)), 'unit': 'IN', 'description': '7'}, 'DRHO': {'values': array([-999., -999., -999., ..., -999., -999., -999.], shape=(15693,)), 'unit': 'G/C3', 'description': '8'}, 'RHOB': {'values': array([-999., -999., -999., ..., -999., -999., -999.], shape=(15693,)), 'unit': 'G/C3', 'description': '9'}, 'NPHI': {'values': array([-999., -999., -999., ..., -999., -999., -999.], shape=(15693,)), 'unit': '%', 'description': '10'}, 'DT': {'values': array([-999., -999., -999., ..., -999., -999., -999.], shape=(15693,)), 'unit': 'US/F', 'description': '11'}}

In [4]:
# Example (Manual Access): Accessing data as DataFrame
data_las2, units_las2 = las2.dataframe(las2.data_obj.data)
data_las2

,DEPT,SP,ILD,ILM,LL8,GR,CALI,DRHO,RHOB,NPHI,DT
0,100.0,-999.0,-999.0,-999.0,-999.0,25.1383,-999.0,-999.0,-999.0,-999.0,-999.0
1,100.5,-999.0,-999.0,-999.0,-999.0,24.7342,-999.0,-999.0,-999.0,-999.0,-999.0
2,101.0,-999.0,-999.0,-999.0,-999.0,24.9611,-999.0,-999.0,-999.0,-999.0,-999.0
3,101.5,-999.0,-999.0,-999.0,-999.0,25.1880,-999.0,-999.0,-999.0,-999.0,-999.0
4,102.0,-999.0,-999.0,-999.0,-999.0,25.4148,-999.0,-999.0,-999.0,-999.0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...
15688,7944.0,-999.0,-999.0,-999.0,-999.0,-999.0000,-999.0,-999.0,-999.0,-999.0,-999.0
15689,7944.5,-999.0,-999.0,-999.0,-999.0,-999.0000,-999.0,-999.0,-999.0,-999.0,-999.0
15690,7945.0,-999.0,-999.0,-999.0,-999.0,-999.0000,-999.0,-999.0,-999.0,-999.0,-999.0
15691,7945.5,-999.0,-999.0,-999.0,-999.0,-999.0000,-999.0,-999.0,-999.0,-999.0,-999.0
15692,7946.0,-999.0,-999.0,-999.0,-999.0,-999.0000,-999.0,-999.0,-999.0,-999.0,-999.0