In [3]:
from stoneforge.data_management.preprocessing import DataLoader

In [4]:
# Las3 example usage

las3 = DataLoader(r"https://raw.githubusercontent.com/giecaruff/datasets/refs/heads/main/wells/las3/evalutaion/example_las3.las")
print(las3.data_obj.tables)

filetype '.las' assumed to be LAS2, trying to parse as LAS2...
Failed to parse as LAS2, trying LAS3
LAS3 parsing successful.
['VERSION INFORMATION', 'Well Information', 'Log_Parameter', 'Log_Definition', 'Drilling_Definition', 'Drilling_Data | Drilling_Definition', 'Core_Definition', 'Core_Data[1] | Core_Definition', 'Core_Data[2] | Core_Definition', 'Inclinometry_Definition', 'Inclinometry_Data | Inclinometry_Definition', 'Test_Definition', 'Test_Data | Test_Definition', 'TOPS_Definition', 'TOPS_Data | TOPS_Definition', 'Perforations_Definition', 'Perforations_Data | Perforations_Definition', 'Log_Data | Log_Definition']

In [5]:
# Force association example (merge data with relative metadata)

las3.data_obj.force_association()
for table in las3.data_obj.tables:
    print(table)

VERSION INFORMATION
Well Information
Log_Parameter
Core_Definition
Core_Data[1] | Core_Definition
Core_Data[2] | Core_Definition
Log_Data
Drilling_Data
Inclinometry_Data
Test_Data
TOPS_Data
Perforations_Data

UserWarning: DataFrame columns are not unique, some columns will be omitted. (in las3.py:123)

In [6]:
# Accessing 'Log_data' data

las3.data_obj.data['Log_Data']

{'DEPT': {'values': array([1670.   , 1669.875, 1669.75 ]), 'unit': '.M'},
 'DT': {'values': array([123.45, 123.45, 123.45]), 'unit': '.US/M'},
 'RHOB': {'values': array([2550., 2550., 2550.]), 'unit': '.K/M3'},
 'NPHI': {'values': array([0.45, 0.45, 0.45]), 'unit': '.V/V'},
 'SFLU': {'values': array([123.45, 123.45, 123.45]), 'unit': '.OHMM'},
 'SFLA': {'values': array([123.45, 123.45, 123.45]), 'unit': '.OHMM'},
 'ILM': {'values': array([110.2, 110.2, 110.2]), 'unit': '.OHMM'},
 'ILD': {'values': array([105.6, 105.6, 105.6]), 'unit': '.OHMM'},
 'YME': {'values': array([1.45e+12, 1.47e+12, 2.85e+12]), 'unit': '.PA'},
 'CDES': {'values': array(['DOLOMITE WI/VUGS', 'LIMESTOVE       ', 'LOST INTERVAL   '],
        dtype='<U16'),
  'unit': '.'},
 'NMR[1]': {'values': array([10., 12., 18.]), 'unit': '.ms'},
 'NMR[2]': {'values': array([12., 15., 25.]), 'unit': '.ms'},
 'NMR[3]': {'values': array([14., 21., 10.]), 'unit': '.ms'},
 'NMR[4]': {'values': array([18., 35.,  8.]), 'unit': '.ms'},
 'NMR[5]': {'values': array([13., 25., 17.]), 'unit': '.ms'}}

In [7]:
# Accessing 'Log_data' data as DataFrame

data_las3, units_las3 = las3.dataframe(las3.data_obj.data['Log_Data'])
data_las3

,DEPT,DT,RHOB,NPHI,SFLU,SFLA,ILM,ILD,YME,CDES,NMR[1],NMR[2],NMR[3],NMR[4],NMR[5]
0,1670.000,123.45,2550.0,0.45,123.45,123.45,110.2,105.6,1.450000e+12,DOLOMITE WI/VUGS,10.0,12.0,14.0,18.0,13.0
1,1669.875,123.45,2550.0,0.45,123.45,123.45,110.2,105.6,1.470000e+12,LIMESTOVE,12.0,15.0,21.0,35.0,25.0
2,1669.750,123.45,2550.0,0.45,123.45,123.45,110.2,105.6,2.850000e+12,LOST INTERVAL,18.0,25.0,10.0,8.0,17.0