In [1]:
from stoneforge.io.las3 import parse_las3
from stoneforge.io.las2 import read
from stoneforge.io.csv import read_csv

import os
import numpy as np
import pandas as pd
from pathlib import Path

In [ ]:
class WellProject:
    
    def __init__(self):
        self.wells = {}
    
    def add_well(self, name):
        """ Add a well to the project."""
        
        self.wells[name] = {
            'data' : {},
            'units' : {},
            'header' : {},
            'extras' : {}
        }
    
    def import_file(self, filepath, filetype=False, las_type='las2'):
        """
        Import a file into the project.
        
        Parameters
        ----------
        - las_type: str, type of LAS file ('las2' or 'las3
        - filepath: str, path to the file to import
        - filetype: str, type of the file (e.g., 'las3', 'las2', etc.)
        
        Returns
        -------
        - Depending on the file type, it will return:
        """
        filepath = os.path.normpath(filepath)
        if not filetype:
            filetype = os.path.splitext(filepath)[-1].lower()
            
        if filetype == '.las':
            if las_type == 'las2':
                return self._las2_micro_management(read(filepath))
            if las_type == 'las3':
                parse_las3(filepath)
                
    def _las3_micro_management(self, las_data):
        print(las_data)                
                
    def _las2_micro_management(self, las_data):
        """    Convert LAS2 data into a structured format for easier manipulation.
        
        Parameters
        ----------
        - las_data: dict, parsed LAS2 data
        
        Returns
        -------
        - data: dict, structured data with keys 'curve', 'data', and other metadata
        """
        
        header = {}
        for key in las_data:
            if key not in ['data']:
                df = pd.DataFrame(las_data[key])
                header[key] = df
            data_header = list(las_data['curve'])
            
        data_header = list(header['curve']['mnemonic'])
        data = pd.DataFrame(las_data['data'].T, columns=data_header)
        
        units = header['curve'].set_index('mnemonic').T
        del header['curve']
                
        return data,units,header

In [86]:
a = read(r"C:\Users\mario\Desktop\7-LL-11-RJS_WL.las")

ddt = WellProject()
ddt.import_file(r"C:\Users\mario\Desktop\7-LL-11-RJS_WL.las")[0]

,DEPTH,BS,HCAL,GR,HTHO,HURA,HKF,RHOB,NPHI,PEFZ,ECS_Al,ECS_Ca,ECS_Fe,ECS_K,ECS_Mg,ECS_Mm,ECS_S,ECS_Si,ECS_Ti
0,4799.9905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4800.1429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4800.2953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4800.4477,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4800.6001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3185,5285.3845,12.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3186,5285.5369,12.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3187,5285.6893,12.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3188,5285.8417,12.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3189,5285.9941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN